<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <title>Farmer Details</title>
</head>
<body style="background-image: url(./newbg.jpg);">
     <div class="container" style="background-color: lavender;">
         <diV ><h3>ID:<%=farmer.ID %></h3>  </diV><br>
         <diV ><h3>Name:<%=farmer.Name %></h3>  </diV><br>
         <diV><h3>Account Number :<%=farmer.BANKACCOUNT %></h3> </diV><br>
         <diV><h3>Land record Number :<%=farmer.LANDRECORD %> </h3> </diV><br>
         <diV><h2>CROPS</h2> </diV><br>
         <ul >
             <li><h3><%=farmer.CROP1 %></h3> </li>
             <li><h3><%=farmer.CROP2 %></h3>  </li>
             <li><h3><%=farmer.CROP3 %></h3>  </li>
             <li><h3><%=farmer.CROP4 %></h3> </li>
         </ul>














     </div>







 




</body>
</html>





















</html>